/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/cartoes
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env_ca
composer.lock
package-lock.json
public/js
public/css
public/images
public/bootstrap
public/iconfont
public/materialize-css